# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List arithmetic expression examples

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. scikit-learn

|Data Science Tools|
------------------
|Jupyter Notebooks|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python
1. Simple Addition: a+b
2. Complex Expression with Parentheses: a*(b-c)/d
3. Combination of Operations: a/b+5*c

This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Pham
Hai Thanh